* {
    margin: 0;
    padding: 0;
    border: 0;
}

/******************START 320 MEDIA QUERY**********************************/
@media (min-width: 320px) {
    .row {
        padding: .5%;
    }
}
/****************END 320 MEDIA QUERY*************************************/
/******************START 650 MEDIA QUERY**********************************/
@media (min-width: 650px) {

    img {
       max-width: 90%;
    }  
}
/****************END 650 MEDIA QUERY*************************************/
/******************START 900 MEDIA QUERY**********************************/
@media (min-width: 900px) {

    img {
       max-width: 100%;
    }  
}
/****************END 900 MEDIA QUERY*************************************/